.head{
    display: flex;
    background-color: rgb(0, 22, 95);
    align-items: center;
}
.logo{
    width: 20%;
}
.navbar{
    width: 60%;
}
.navbar ul{
    list-style: none;
    display: flex;
    
}
.navbar ul a{
    text-decoration: none;
    color: rgb(170 197 108);
    font-size: 20px;
    font-weight: 700;
}
.navbar ul a:hover{
    color: white;
}
.navbar ul li{
    padding-right: 20px;
}

.contact_btn{
    width: 20%;
}
.contact_btn button{
    border: none;
    background: rgb(170 197 108);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
}